//**
// About Us
//**

.content-about {
  .text-about {
    padding:20px 30px;
    h3 {
      font-size: $font22px;
      color: #373243;
      font-family: 'Francois One', sans-serif;
      font-weight:normal;
    }
  }
}